/*! Floating.css 1.0.0 | MIT License | github.com/kokushin/floating.css */


/**
* Set up.
*
* Required position: relative;
*/
.fl.floating {
	position: relative;
	display: block;
}


/**
* Create Shadow.
*
* height: Specifies the vertical size of the shadow.
* bottom: Specifies the distance of the shadow from the target.
*/
.fl.floating:after {
	content: '';
	width: 60%;
	height: 14px;
	background: rgba(0,0,0,.15);
	display: block;
	border-radius: 50%;
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -30%;
}


/**
* The animation target.
*
* 0%:   Distance when moving up.
* 100%: Distance when moving down.
*/
.fl.floating > * {
	-webkit-animation: fl .5s ease-in-out 0s infinite alternate;
	        animation: fl .5s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes fl {
	0% { -webkit-transform: translate3d(0,-10px,0); transform: translate3d(0,-10px,0); }
	100% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
}
@keyframes fl {
	0% { -webkit-transform: translate3d(0,-10px,0); transform: translate3d(0,-10px,0); }
	100% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
}


/**
* The animation shadow.
*
* 0%:   Size at the time of the move up.
* 100%: Size at the time of the move down.
*/
.fl.floating:after {
	-webkit-animation: fl-sha .5s ease-in-out 0s infinite alternate;
	        animation: fl-sha .5s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes fl-sha {
	0% { -webkit-transform: scale(0.8,0.8); transform: scale(0.8,0.8); }
	100% { -webkit-transform: scale(0.9,0.9); transform: scale(0.9,0.9); }
}
@keyframes fl-sha {
	0% { -webkit-transform: scale(0.8,0.8); transform: scale(0.8,0.8); }
	100% { -webkit-transform: scale(0.9,0.9); transform: scale(0.9,0.9); }
}